#canvas {
    border: 3px solid black;
    position: relative;
    padding: 0;
    margin: auto;
    display: block;
    background-color: white; 
    
}

.logo-img {
position: center;
margin: auto; 
width : 400px; 
height :300px; 
}

.container {
    position: static;
    width: 600px;
    height: 1100px;
    margin: auto;
    background-color: grey; 
}


.button {
    font-family: Arial;
    font-size: 20px;
    width: 160px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
canvas{
    background-image: url("./image/jeffrey-flat.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}